pkgbase = glabels-qt-git
	pkgdesc = gLabels Label Designer - Qt5 development version
	pkgver = r414.b729ee2
	pkgrel = 1
	url = http://glabels.org/
	arch = x86_64
	license = GPL3
	makedepends = git
	makedepends = cmake
	makedepends = zlib
	makedepends = barcode
	makedepends = zint-qt
	makedepends = zint
	depends = qt5-svg
	depends = qrencode
	depends = hicolor-icon-theme
	depends = zint
	depends = barcode
	source = git+https://github.com/jimevins/glabels-qt.git
	sha256sums = SKIP

pkgname = glabels-qt-git

