pkgbase = olympic-fonts
	pkgdesc = Elegant display font. The design is inspired by Warsaw’s signage and typography from the 70’s.. TTF & OTF
	pkgver = 1.0
	pkgrel = 1
	url = http://kroje.org/en/fonts/olympic/
	arch = any
	source = olympic-fonts-1.0.tar.gz::https://github.com/warszawskie-kroje/olympic/archive/v1.0.tar.gz
	source = LICENSE
	sha256sums = a03bc6b27a35f5da5edb8a554b5daf69c7655d8771eac231d8f701f020b5b3a0
	sha256sums = a22e755224fbe538e0d2883668938360a1b164a1e38b1b701d73e63e9cbe3a3a

pkgname = olympic-fonts

