pkgbase = kaidan
	pkgdesc = Simple and user-friendly Jabber/XMPP client for every device
	pkgver = 0.4.0
	pkgrel = 1
	url = https://www.kaidan.im
	arch = x86_64
	license = GPL3
	makedepends = extra-cmake-modules
	depends = qxmpp
	depends = hicolor-icon-theme
	depends = qt5-declarative
	depends = knotifications
	depends = desktop-file-utils
	source = https://archive.kaidan.im/kaidan/0.4.0/kaidan-0.4.0.tar.xz
	sha256sums = c2ec16d2acfb4c62d3eef652e492a7267124148d458321436eaf1916e8ed4d9e

pkgname = kaidan

