pkgbase = plasma-nx-simplemenu-applet
	pkgdesc = NX Desktop simplemenu applet for Plasma
	pkgver = r50.3d42315
	pkgrel = 1
	url = http://www.nx-desktop.org/
	arch = x86_64
	license = GPL3
	makedepends = git
	makedepends = qt5-tools
	makedepends = extra-cmake-modules
	makedepends = qt5-svg
	depends = plasma-workspace
	source = git+https://github.com/nx-desktop/nx-simplemenu-applet.git
	sha256sums = SKIP

pkgname = plasma-nx-simplemenu-applet

