pkgbase = kregexpeditor-git
	pkgdesc = GUI for creating and editing regular expressions
	pkgver = 632.7eb3a8b
	pkgrel = 1
	url = https://invent.kde.org/utilities/kregexpeditor.git
	arch = x86_64
	license = GPL
	makedepends = git
	makedepends = extra-cmake-modules
	makedepends = python
	makedepends = kdoctools
	depends = hicolor-icon-theme
	depends = ktextwidgets
	source = git+https://invent.kde.org/utilities/kregexpeditor.git
	md5sums = SKIP

pkgname = kregexpeditor-git

