pkgbase = elf-dissector-git
	pkgdesc = Tools for inspecting, analyzing and optimizing ELF files
	pkgver = r645.e70d09e
	pkgrel = 1
	url = https://invent.kde.org/sdk/elf-dissector.git
	arch = x86_64
	license = GPL
	makedepends = extra-cmake-modules
	makedepends = git
	depends = kitemmodels
	depends = libdwarf
	source = git+https://invent.kde.org/sdk/elf-dissector.git
	sha256sums = SKIP

pkgname = elf-dissector-git

