pkgbase = plasma5-theme-softglass
	pkgdesc = Glass theme for Plasma 5
	pkgver = 1.1.1
	pkgrel = 1
	url = https://store.kde.org/p/1216627/
	arch = any
	license = GPL
	source = https://dl.opendesktop.org/api/files/downloadfile/id/1524357522/s/ad12a7fad64f1d167034d36218f3282d/t/1524387587/u/441232/SoftGlass-Plasma-1.1.1.tar.gz
	sha256sums = 0e135508185c5eeac8ad865fa2c87e10272eb2f033361076e4ade932a4a33e08

pkgname = plasma5-theme-softglass

