pkgbase = digikam-7.0.0rc-polish-language-pack
	pkgdesc = Polish language to digikam 7.0.0RC
	pkgver = 7.0.0_rc
	pkgrel = 1
	url = https://forum.archlinux.org.pl
	arch = any
	license = GPL
	source = digikam-7.0.0rc-polish-language-pack.tar.gz
	sha256sums = d719366a49b2f084f6e19840c7732b7b624b3ae14a68aacb0b79bc8d09154333

pkgname = digikam-7.0.0rc-polish-language-pack

