pkgbase = kgtk-kf5-git
	pkgdesc = KGTK Qt5/KF5 port
	pkgver = r7.34ed414
	pkgrel = 1
	url = https://github.com/sandsmark/kgtk
	arch = x86_64
	license = GPL2
	makedepends = git
	makedepends = extra-cmake-modules
	depends = kdelibs4support
	depends = gtk3
	depends = gtk2
	conflicts = kgtk
	source = git+https://github.com/sandsmark/kgtk.git
	sha256sums = SKIP

pkgname = kgtk-kf5-git

