pkgbase = ksystraycmd-git
	pkgdesc = Utility that allows you to run any application in system tray
	pkgver = r1.b01df05
	pkgrel = 1
	url = https://invent.kde.org/hein/ksystraycmd.git
	arch = x86_64
	license = GPL
	makedepends = git
	makedepends = extra-cmake-modules
	depends = ki18n
	depends = kcoreaddons
	depends = kwindowsystem
	source = git+https://invent.kde.org/hein/ksystraycmd.git
	sha256sums = SKIP

pkgname = ksystraycmd-git

