pkgbase = ksystraycmd-git
	pkgdesc = Utility that allows you to run any application in system tray
	pkgver = 1
	pkgrel = 1
	url = https://cgit.kde.org/scratch/hein/ksystraycmd.git
	arch = x86_64
	license = GPL
	makedepends = git
	makedepends = extra-cmake-modules
	depends = ki18n
	depends = kcoreaddons
	depends = kwindowsystem
	source = git+https://anongit.kde.org/scratch/hein/ksystraycmd.git
	sha256sums = SKIP

pkgname = ksystraycmd-git

