pkgbase = calligra-git-polish-language-pack
	pkgdesc = Polish language to calligra-git
	pkgver = 3.2
	pkgrel = 1
	url = https://forum.archlinux.org
	arch = any
	license = GPL
	conflicts = calligra
	source = calligra-git-polish-language-pack.tar.gz
	sha256sums = 9ee67fe1ba650c3f6541cdd7d7b21b0af58d2a3592aa32b53b40cc077abef39d

pkgname = calligra-git-polish-language-pack

