pkgbase = black-maia-icon-theme
	pkgdesc = Black Maia folders themes
	pkgver = 3.30
	pkgrel = 1
	url = https://store.kde.org/p/1218961/
	arch = any
	license = GPL3
	source = Black-Maia.tar.xz
	md5sums = 91d67eae37545f09e26b6d91734025c4

pkgname = black-maia-icon-theme

