pkgbase = kpeoplevcard-git
	pkgdesc = Makes it possible to expose vcards to KPeople
	pkgver = v0.1.r1.g778d034
	pkgrel = 1
	url = https://invent.kde.org/pim/kpeoplevcard.git
	arch = x86_64
	license = GPL3
	makedepends = extra-cmake-modules
	makedepends = git
	depends = kpeople
	depends = kcontacts
	provides = kpeoplevcard
	conflicts = kpeoplevcard
	replaces = kpeoplevcard
	source = git+https://invent.kde.org/pim/kpeoplevcard.git
	sha256sums = SKIP

pkgname = kpeoplevcard-git

