pkgbase = breeze-enhanced
	pkgdesc = A fork of KDE Breeze decoration with additional options
	pkgver = 5.20
	pkgrel = 1
	url = https://github.com/tsujan/BreezeEnhanced
	arch = x86_64
	license = GPL3
	makedepends = extra-cmake-modules
	depends = kwindowsystem
	depends = kconfigwidgets
	optdepends = kwindowsystem
	optdepends = kconfigwidgets
	optdepends = kvantum
	conflicts = breeze-enhanced-git
	source = https://github.com/tsujan/BreezeEnhanced/archive/V5.19.tar.gz
	sha256sums = 228b04f17100bdb6e630d6df4c7796826008a48b67beac3155869b9a9c761db2

pkgname = breeze-enhanced
