pkgbase = polaur
	pkgdesc = nycko123 script for browsing and download POLAUR projects
	pkgver = 4.5
	pkgrel = 1
	url = https://forum.archlinux.org.pl/viewtopic.php?pid=4384#p4384
	arch = any
	license = GPL
	makedepends = git
	depends = bash
	depends = curl
	source = polaur
	sha256sums = 58f6adc0438b4001095d2d43d67ac5c0c65112385c59bf880480df3a79340e12

pkgname = polaur
