pkgbase = polaur
	pkgdesc = nycko123 script for browsing and download POLAUR projects
	pkgver = 4.4
	pkgrel = 1
	url = https://forum.archlinux.org.pl/viewtopic.php?pid=4384#p4384
	arch = any
	license = GPL
	makedepends = git
	depends = bash
	depends = curl
	source = polaur
	sha256sums = 0396431170f18b3030b855dc7dd1b79707ddd21c3ef83090404634dc20960691

pkgname = polaur

