pkgbase = rewir-fonts
	pkgdesc = Way-finding font from Warsaw Types. TTF & OTF
	pkgver = 1.0
	pkgrel = 1
	url = http://kroje.org/en/fonts/zaklad/
	arch = any
	source = rewir-fonts-1.0.tar.gz::https://github.com/warszawskie-kroje/rewir/archive/v1.0.tar.gz
	source = LICENSE
	sha256sums = 16b56952bb35b5d802e3f10f89113f5a6dd2ba545493f33ef114bbb16952f9cd
	sha256sums = a22e755224fbe538e0d2883668938360a1b164a1e38b1b701d73e63e9cbe3a3a

pkgname = rewir-fonts

