pkgbase = pak
	pkgdesc = Simple pacman wrapper, AUR and POLAUR helper
	pkgver = 4.5
	pkgrel = 1
	epoch = 1
	url = https://gitlab.com/nycko123/pak
	changelog = CHANGELOG
	arch = any
	license = GPL
	depends = bash
	depends = git
	depends = curl
	depends = jq
	depends = pacman-contrib
	depends = man-db
	optdepends = asp: to download PKGBUILD's of official packages
	optdepends = auracle-git: (AUR) to manage AUR packages
	optdepends = namcap: to validate built packages
	optdepends = reflector: to keep mirrorlist up to date
	optdepends = subversion: to check upstream for updated -svn packages
	optdepends = fzf: to display all data about installed packages
	optdepends = downgrade: (AUR) to downgrade packages
	optdepends = libnotify: to display desktop notifications
	conflicts = pak-git
	backup = etc/xdg/pak.conf
	source = https://gitlab.com/nycko123/pak/raw/master/src/pak-4.5.tar.gz
	sha256sums = 8d2b3e712436020518b031c3ce3c7bf4723775a953724ae2ae0ceadad962c1e1

pkgname = pak

