pkgbase = pak
	pkgdesc = Simple pacman wrapper, AUR and POLAUR helper
	pkgver = 5.6
	pkgrel = 1
	epoch = 1
	url = https://gitlab.com/nycko123/pak
	changelog = CHANGELOG
	arch = any
	license = GPL
	depends = bash
	depends = git
	depends = curl
	depends = jq
	depends = pacman-contrib
	depends = man-db
	optdepends = devtools: to download PKGBUILD's of official packages
	optdepends = auracle-git: (AUR) to manage AUR packages
	optdepends = namcap: to validate built packages
	optdepends = reflector: to keep mirrorlist up to date
	optdepends = subversion: to check upstream for updated -svn packages
	optdepends = fzf: to display all data about installed packages
	optdepends = downgrade: (AUR) to downgrade packages
	optdepends = libnotify: to display desktop notifications
	conflicts = pak-git
	backup = etc/xdg/pak.conf
	source = https://gitlab.com/nycko123/pak/raw/master/src/pak-5.6.tar.gz
	sha256sums = e2f9d8afe833690319a27844a909c44db6ab7e4b87601ccb0ce5af313ea3a06e

pkgname = pak
