pkgbase = ko20-git
	pkgdesc = Office suite written in QtQuick; 020 successor (GIT version)
	pkgver = 0.5.r31.gb5bed3f
	pkgrel = 1
	url = https://gitlab.com/abstractsoftware/ko20-core
	arch = x86_64
	license = GPL2
	makedepends = qt5-tools
	makedepends = extra-cmake-modules
	makedepends = kwidgetsaddons
	makedepends = sonnet
	makedepends = git
	depends = qt5-svg
	depends = ktextwidgets
	depends = hicolor-icon-theme
	depends = syntax-highlighting
	depends = karchive
	depends = qt5-quickcontrols2
	depends = kconfig
	depends = kcoreaddons
	depends = sonnet
	depends = kiconthemes
	depends = karchive
	depends = kwidgetsaddons
	source = git+https://gitlab.com/abstractsoftware/ko20-core
	sha256sums = SKIP

pkgname = ko20-git
