pkgbase = ktimetracker-git
	pkgdesc = Todo management and time tracker
	pkgver = r3381.fd55225
	pkgrel = 1
	url = https://invent.kde.org/pim/ktimetracker.git
	arch = x86_64
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = git
	depends = kcalcore
	depends = kidletime
	depends = kio
	depends = hicolor-icon-theme
	source = git+https://invent.kde.org/pim/ktimetracker.git
	md5sums = SKIP

pkgname = ktimetracker-git

