pkgbase = kio-fuse
	pkgdesc = KioFuse allows you to mount remote directories into the root hierarchy of your local file system, thereby exposing KDE's advanced access capabilities (SSH, SAMBA/Windows, FTP, TAR/GZip/BZip2, WebDav, etc) to POSIX-compliant applications.
	pkgver = 4.90.0
	pkgrel = 1
	url = http://techbase.kde.org/Projects/KioFuse
	arch = x86_64
	license = LGPL
	makedepends = extra-cmake-modules
	depends = kio
	depends = fuse3
	conflicts = kiofuse-svn
	conflicts = kiofuse-kf5-git
	replaces = kiofuse-svn
	source = https://download.kde.org/unstable/kio-fuse/4.90.0/kio-fuse-4.90.0.tar.xz
	source = https://download.kde.org/unstable/kio-fuse/4.90.0/kio-fuse-4.90.0.tar.xz.sig
	md5sums = 5f97c88d711cdaced80db7c0b96e6d6c
	md5sums = SKIP

pkgname = kio-fuse

