pkgbase = skanpage-git
	pkgdesc = Multipage document scanner application
	pkgver = r48.b265d4c
	pkgrel = 1
	url = https://invent.kde.org/sars/skanpage.git
	arch = x86_64
	license = GPL
	makedepends = git
	makedepends = extra-cmake-modules
	depends = libksane
	depends = kxmlgui
	source = git+https://invent.kde.org/astippich/skanpage.git
	sha256sums = SKIP

pkgname = skanpage-git
