[Desktop Entry]
Type=Application
Exec=skanpage %i %U
Icon=scanner
Terminal=false
GenericName=Scan with scan to pdf function
GenericName[pl]=Program skanowania z zapisem do pdf
Name=Skanpage
Name[pl]=Skanpage

Categories=Qt;KDE;Graphics;Scanning;
X-DBUS-ServiceName=skanpage
