pkgbase = nocturne-fonts
	pkgdesc = Font is inspired by the lettering on stone tablets commemorating the victims of World War II, and prewar Jewish shop signage. TTF & OTF
	pkgver = 1.0
	pkgrel = 1
	url = http://kroje.org/en/fonts/nocturne/
	arch = any
	source = nocturne-fonts-1.0.tar.gz::https://github.com/warszawskie-kroje/nocturne/archive/v1.0.tar.gz
	source = LICENSE
	sha256sums = f63b5314ec2a30092e6a0e22c33f35b50c45e3c0500fdce68726f45740beb12f
	sha256sums = a22e755224fbe538e0d2883668938360a1b164a1e38b1b701d73e63e9cbe3a3a

pkgname = nocturne-fonts

